<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <!-- <link rel="stylesheet" href="../public/style.css"> -->
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" routerLink="/">Student</a></li>
                <li class="main-header__item"><a  routerLink="/add-student">Add Student</a></li>
                <li class="main-header__item"><a routerLink="/course">Course</a></li>
                <li class="main-header__item"><a routerLink="/add-course">Add Course</a></li>
                <li class="main-header__item"><a routerLink="/course-register">Subscribe Course</a></li>
                <li class="main-header__item"><a routerLink="/report">Report</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Students</h1>
        <table border="1px">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>Contact Number</th>
                <th>Action</th>
            </tr>
            <tr *ngFor = "let s of students">
                <td>{{s.first_name}}</td>
                <td>{{s.last_name}}</td>
                <td>{{s.dob}}</td>
                <td>{{s.contact_no}}</td>
                <td>
                    <button style="margin-right: 5px;" (click)="editStudent(s)">Edit</button>
                    <button (click)="deleteStudent(s.student_id)">Delete</button>
                </td>
            </tr>
        </table>
    </main> 
</body>
<!-- <script>
    fetch('http://localhost:3000/')
  .then(data => console.log(data));
</script> -->
</html>